@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Courier New';
  font-weight: bold;
  src: url('./courier/couriercyrps_bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Courier New';
  font-weight: bold;
  font-style: italic;
  src: url('./courier/couriercyrps_boldinclined.ttf') format('truetype');
}
@font-face {
  font-family: 'Courier New';
  font-style: italic;
  src: url('./courier/couriercyrps_inclined.ttf') format('truetype');
}
@font-face {
  font-family: 'Courier New';
  src: url('./courier/couriercyrps.ttf') format('truetype');
}

* {
  font-family: 'Courier New';
}

html,
body {
  height: 100%;
  width: 100%;
}

#app {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

html,
.scrollbar {
  scrollbar-color: hsl(var(--nc)) hsl(var(--b1));
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: hsl(var(--b1));
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: hsl(var(--bc));
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.movie-grid {
  @apply gap-10 min-h-full w-full;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: max-content;
}

.dots {
  @apply flex flex-1 mt-3.5 mx-0.5 border-base-content border-dotted;
  border-top-width: 3px;
}
