@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Courier New';
  font-weight: bold;
  src: url('./courier/couriercyrps_bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Courier New';
  font-weight: bold;
  font-style: italic;
  src: url('./courier/couriercyrps_boldinclined.ttf') format('truetype');
}
@font-face {
  font-family: 'Courier New';
  font-style: italic;
  src: url('./courier/couriercyrps_inclined.ttf') format('truetype');
}
@font-face {
  font-family: 'Courier New';
  src: url('./courier/couriercyrps.ttf') format('truetype');
}

* {
  font-family: 'Courier New';
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  position: relative;
}

html,
.scrollbar {
  scrollbar-color: hsl(var(--nc)) hsl(var(--b1));
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--b1));
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: hsl(var(--bc));
}
